.container{
    display: flex;
    justify-content: space-between;
    color: white;
    background: linear-gradient(to left, #2875D5, #1D2E6A);
    border-radius: 10px;
    padding: 15px;
    align-items: center;
}

.menu{
    display: flex;
    gap: 25px;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 8px;
    background: var(--highlight);
    border-radius: 5px;
}

.input{
    border: none;
}

.input:focus {
  outline: none;
  border: none;
}

.icons{
    display: flex;
    gap: 15px;
}