@import "tailwindcss";

html.light {
  --bg: #ffffff;                         /* Base background */
  --text: #1f2937;                      /* Main text color */
  --bgsoft: #1D2E6A;                    /* Soft background (cards, sidebars) */
  --textsoft: #6b7280;                  /* Muted text */
  --highlight: #1D2E6A;                 /* Light slate tone (labels, dividers) */
}

html.dark {
  --bg: #2c3856;
  --text: white;
  --bgsoft: #182237;
  --textsoft: #b7bac1;
  --highlight: #334155;
}

:root{
  --bg-gradient: linear-gradient(#2875D5, #1D2E6A);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

a{
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  @keyframes slide-up {
    0%    { transform: translateY(0%); }
    25%   { transform: translateY(-25%); }
    50%   { transform: translateY(-50%); }
    75%   { transform: translateY(-75%); }
    100%  { transform: translateY(-100%); }
  }

  .animate-slide-up {
    animation: slide-up 10s infinite;
  }
}