@import "tailwindcss";

html.light {
  --bg: white;
  --text: #151c2c;
  --bgsoft: var(--color-slate-200);
  --textsoft: #26324c;
  --highlight: var(--slate-400);
}

html.dark {
  --bg: #151c2c;
  --text: white;
  --bgsoft: #182237;
  --textsoft: #b7bac1;
  --highlight: var(--slate-700);
}

:root{
  --slate-50:  #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text);
}

a{
  color: inherit;
  text-decoration: none;
}